body{
    background: linear-gradient(to bottom right, #25ffdb, #096092);
    height: 100vh;
}
header h1{
    font-size: 50px;
    color:darkgrey;
    text-align: center
}
header h2{
    text-align: center
}
main h2{ 
    font-size: 28px; 
    color: white; 
    background-color:darkgrey
}
main p{
    font-size: 20px
}

footer a{
    background: #25ffdb;
    display: block;
    width: 150px;
    text-align: center;
    padding:5px;
    color: #63626e;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 4px 4px 10px black;
    transition:  all .5s linear;
  }
