

/*** GLOBAL ***/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&display=swap');


body {
  /*background: linear-gradient(to bottom right, #25ffdb, #096092);*/
  background: #9dbbd8;
  font-family: 'Noto Serif', serif;
}

body h1{
  font-family: 'Domine', serif;
}






/*** START ***/


#start section {
  /*background: linear-gradient(to bottom right, #25ffdb, #096092);*/
  height: 100vh;
  font-family: 'Noto Serif', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#63626e;
}

#start article {
  display:flex;
  max-width: 800px;
}

#start .bild {
  width: 60%;
  background: url("https://images.unsplash.com/photo-1581472723648-909f4851d4ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNvZGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-position: center;
  border-radius: 50px 0  0 50px; 
}

#start .info {
  width:40%;
  background: white;
  padding: 5%;
  border-radius: 0 50px 50px 0;
}

#start .info h1{
  font-size: 36px;
}

#start .info p{
  margin-bottom: 75px;
}

#start .info a {
  background: #7abeaa;
  display: block;
  width: 150px;
  text-align: center;
  padding:5px;
  color: #63626e;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 4px 4px 10px black;
  transition:  all .5s linear;
}

#start .info a:hover{
  box-shadow: 0px 0px 5px black;
  transition: all .5s linear;
  transform: translate(4px, 4px);
}





/*** HOME > HEADER ***/

#home{
  padding: 10%;
}

#home header {
  padding: 2%;
  color: gray;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items:center;
}


#home header h1 {
  font-weight: 300;
  font-size: 50px;
  /* color:darkgrey; */
  text-align: center;
}



/*** HOME > NAV ***/
nav {
  background:#ccc;
  padding: 2%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

nav a{ 
  font-size:x-large;
  background: #7abeaa;
  display: block;
  width: 200px;
  text-align: center;
  padding:5px;
  color: #63626e;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 4px 4px 10px black;
  transition:  all .5s linear;
}

nav a:hover{
  box-shadow: 0px 0px 5px black;
  transition: all .5s linear;
  transform: translate(4px, 4px);
}




/*** HOME > LOGO ***/

.logo img{ 
  width: 100px;
  display: flex;
  justify-content:flex-start;
}

#home header div a{
  background: #7abeaa;
  display: block;
  width: 100px;
  text-align: center;
  padding:5px;
  color: #63626e;
  text-decoration: none;
  border-radius: 55px;
  box-shadow: 4px 4px 10px black;
  transition:  all .5s linear;
}

#home header div a:hover{
  box-shadow: 0px 0px 5px black;
  transition: all .5s linear;
  transform: translate(4px, 4px);
}






/*** HOME > MAIN ***/
main section {
  display: flex;
  gap: 10px; 
  display: flex;
  flex-direction: column;
}

main p{
  font-size: 20px
}

#block1,
#block2,
#block3,
#block4 {
  display:flex;
  justify-content:flex-start;
  flex-wrap:wrap
}

#block3 div{ 
  margin:2px;
  padding:25px;
  background:#ccc;
  border:10px solid #bbb;
  font-size:15pt;
  color:#666;
}



/*** HOME > FOOTER ***/

